  ion-img {
   
    object-fit:cover;
  }

  .scroll-content {
      padding-top: 0 !important;
  }


ion-toolbar {
	color: #ffffff;
    --ion-background-color: linear-gradient(to right, rgba(0,95,169,1) 0%, rgba(0,176,235,1) 100%) !important;
}

.odd{
  color: blue;
}
.even{
  color: green;
}