<ion-header>
  <ion-toolbar >
      <ion-title class="ion-text-center">{{detail.name|translate}}</ion-title>
    <ion-buttons slot="start" color="primary">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
   
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <img [src]="detail.image" >     
  <ion-searchbar placeholder="{{'TAB2_TITLE'|translate}}" [(ngModel)]="searchString"  (ionInput)="getProblems($event)" ></ion-searchbar>
  <div *ngFor="let problema of problems;">
    <div  *ngIf='problema.proceso == detail.id'>
      <ion-card (click)="checkDetail(problema)">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-card-header>
          <ion-card-title>{{problema.text|translate}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </div> 
   
</ion-content>


