.bg-image {
    --background: url(../../../assets/imgs/background.jpg) no-repeat center center fixed;
    --background-repeat: no-repeat;
    --background-size: cover; 
   
}

ion-slides {
  --bullet-background-active: #455F6B;
  --bullet-background: #005ca9;
    background-color: transparent;
}

.slide-image {
  align-items: center;
  margin: auto;
  display: block;  
  max-height: 70%;
  max-width: 60%;
}

.slide-tutorial{
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%; 
}

.transparent {
  background-color: transparent;
}


.slide-zoom {
    height: 100%;
}

.slide-title {
  
  align-items: center;  
  font-size: 20px;
}
  
b {
  font-weight: 500;
}

p {
  padding: 0 40px;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;

  b {
    color: #000000;
  }
}


.slideroption{
    // max-width: 100% !important;
    // max-height: 100% !important;
    border-radius: 5px;

        .slide-zoom{
                width:100% !important;
                height:100% !important;
            img{
                width:100% !important;
                height:100% !important;
                border-radius: 5px;
            }
        }

}

.slider{
  height:90vh;
  width:auto; 
}

.slider-slide {
  height: 90vh;
  width: auto;
}

.movie {
  font-family: 'SFMoviePoster';
  font-size: 40px;
}

.sand {
  font-family: 'Quicksand-Bold';
  font-size: 15px;
}