<ion-header no-border transparent>
   <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-image">
	<ion-img src="../assets/logo.png" width="50" height="50" class="img-logo"></ion-img>
	<ion-card>
  		<ion-card-header>
		</ion-card-header>
		<ion-card-content>
			<ion-list>
				<ion-item>
				  <ion-label position="stacked">{{'EMAIL' | translate}}</ion-label>
				  <ion-input type="email" [(ngModel)]="user.email" required><ion-icon name="mail"></ion-icon>&nbsp;</ion-input>
				</ion-item>
				<ion-item>
		          <ion-label position="stacked">{{'PASSWORD' | translate}}</ion-label>
		          <ion-input  [type]="passwordType" [(ngModel)]="user.password" clearOnEdit="false" required><ion-icon name="key"></ion-icon>&nbsp;</ion-input>
		          <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
		        </ion-item>
			</ion-list>
			<ion-button expand="full"  (click)="checkLogin()"> 
		     		{{'LOGIN' | translate}}
		    </ion-button>
		</ion-card-content>
	</ion-card>
</ion-content>
