ion-toolbar {
	--background: transparent;
	--ion-color-base: transparent !important;
}

.bg-image {
	--background: url(../../../assets/imgs/singup.jpg);
	background-size: cover;
	display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 1;   
    animation: animatedBackground 25s linear;   
}

@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 100%; }
}

 .no-scroll .scroll-content {
   overflow: hidden;
 }

.img-logo  {
  width: 50% !important;  
  height : 50% !important;
  align-items: center;
  margin: auto;
  display: block;  
}

ion-input {
   --padding-start: 20px;
}

ion-card{
	background: #ffffff;
}

.input-margin {
	margin-left: 15px;
}

.passwordIcon{  
   position: relative !important;
   top: 22px !important;
   margin: 0 auto !important;
}