<ion-header>
  <ion-toolbar color="primary">
      <ion-title class="ion-text-center">{{'ABOUT_TITLE'|translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>
<ion-content padding>
	 <div class="item item-image">  
    	<img src="../assets/imgs/acerca.png" style="background-repeat: no-repeat; height: 200px; width: 400px;">
    </div>
    <div>
    	<h4>{{'ABOUT_TEXT_1'|translate}}</h4>
    </div>
	<div class="ion-text-justify">		
		<p>{{'ABOUT_TEXT_2'|translate}}</p>
		<p>{{'ABOUT_TEXT_3'|translate}}</p>
		<p>{{'ABOUT_TEXT_4'|translate}}</p>		
	</div>	
</ion-content>
