// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #005CA9;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #EC6607;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #455F6B;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

/** facebook **/
  --ion-color-facebook: #4267b2;
  --ion-color-facebook-rgb: 66, 103, 178;
  --ion-color-facebook-contrast: #ffffff;
  --ion-color-facebook-contrast-rgb: 0, 0, 0;
  --ion-color-facebook-shade: #e0bd00;
  --ion-color-facebook-tint: #ffdb1a;

  /** Chocolate **/
  --ion-color-chocolate: #602414;
  --ion-color-chocolate-rgb: 96, 36, 20;
  --ion-color-chocolate-contrast: #ffffff;
  --ion-color-chocolate-contrast-rgb: 0, 0, 0;
  --ion-color-chocolate-shade: #e0bd00;
  --ion-color-chocolate-tint: #ffdb1a;

   /** Chocolate Alt **/
  --ion-color-chocolatealt: #D25D12;
  --ion-color-chocolatealt-rgb: 210, 93, 18;
  --ion-color-chocolatealt-contrast: #ffffff;
  --ion-color-chocolatealt-contrast-rgb: 0, 0, 0;
  --ion-color-chocolatealt-shade: #e0bd00;
  --ion-color-chocolatealt-tint: #ffdb1a;  

}

.ion-color-facebook {
    --ion-color-base: var(--ion-color-facebook) !important;
    --ion-color-base-rgb: var(--ion-color-facebook-rgb) !important;
    --ion-color-contrast: var(--ion-color-facebook-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-facebook-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-facebook-shade) !important;
    --ion-color-tint: var(--ion-color-facebook-tint) !important;
}

.ion-color-chocolate {
    --ion-color-base: var(--ion-color-chocolate) !important;
    --ion-color-base-rgb: var(--ion-color-chocolate-rgb) !important;
    --ion-color-contrast: var(--ion-color-chocolate-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-chocolate-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-chocolate-shade) !important;
    --ion-color-tint: var(--ion-color-chocolate-tint) !important;
}

.ion-color-chocolatealt {
    --ion-color-base: var(--ion-color-chocolatealt) !important;
    --ion-color-base-rgb: var(--ion-color-chocolatealt-rgb) !important;
    --ion-color-contrast: var(--ion-color-chocolatealt-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-chocolatealt-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-chocolatealt-shade) !important;
    --ion-color-tint: var(--ion-color-chocolatealt-tint) !important;
}

@font-face {
  font-family: 'SFMoviePoster';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SFMoviePoster.ttf');
}

@font-face {
  font-family: 'Quicksand-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Quicksand-Bold.ttf');
}
