<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header no-border>
        <ion-toolbar>          
          <ion-title></ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content  class="side-menu-background">
        <div class="splash-logo" style="margin-top: 25px;"></div>
        <ion-list class="list-style" no-lines>        
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerLink]="[p.url]" lines="none">
              <ion-icon class="icon" slot="start" [name]="p.icon"></ion-icon>
              <ion-label color="light">
                {{ p.title | translate }}
              </ion-label>
            </ion-item>            
          </ion-menu-toggle>          
            <ion-item>
              <ion-icon class="icon" slot="start" name="logo-closed-captioning"></ion-icon>
              <ion-toggle color="secondary" checked={{lang}} (ionChange)="myChange($event)"></ion-toggle>
              <ion-label class="ion-text-capitalize">{{'LANG' | translate }}</ion-label>
            </ion-item>
          
        </ion-list>       
      </ion-content>
      <ion-footer>
         <ion-list class="list-style" no-lines>
           <ion-item (click)="closeSession()" lines="none">
              <ion-icon class="icon" name="exit" slot="start"></ion-icon>
               <ion-label color="light">
                  {{'MENU_CLOSE' | translate}}
               </ion-label>
            </ion-item>
          </ion-list>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
