// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 

// and used throughout the application.
$SIDEMENU_TOP: #090404;
$SIDEMENU_BOTTOM: rgba(0, 92, 169, 0.5);
$SIDEMENU_TRANSPARENCY: rgba(0, 92, 169, 0.5);

.round {
  --width: 60px;
  --height: 60px;
  --border-radius: 50%;
  --vertical-align: middle;
  --padding-start: 10px;
  --padding-end: 10px;
}

ion-menu {
  --ion-background-color: var(--ion-color-primary);
  --ion-text-color: var(--ion-color-primary-contrast);

  ion-toolbar {
    --background: var(--ion-color-primary);
  }

  ion-list {/* optional, but it needs when you use gradient as a background color.*/
    background: transparent;
  }
}

.side-menu-gradient{
  background: -webkit-gradient(left top, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
  background: -o-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
  background: -moz-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
  background: linear-gradient(to bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
}

.toolbar-background {
  background-color: #005CA9;
}

.side-menu-background {
  margin: auto;
  background: #005ca9;
}

.side-menu-color {
  background-color: rgba(0, 92, 169, 0.5);
}

.list-style {
  padding: 10px;
}

.icon {
  color: #ffffff; 
}

.splash-logo {
  margin: auto;
  background: url('../assets/logo_w.png') repeat transparent;
  background-size: 100%;
  width: 120px;
  height: 120px;
}

.movie {
  font-family: 'SFMoviePoster';
}

.sand {
  font-family: 'Quicksand-Bold';
  font-size:  3vw;
}