<ion-header>
  <ion-toolbar>
      <ion-title class="ion-text-center">{{problem.text|translate}}</ion-title>
    <ion-buttons slot="start" color="primary">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
   
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
   <div>
   	<ion-grid>
   		<ion-row>
   			<!--<ion-col size="12" class="ion-align-self-center ion-text-center">{{'CAUSE'|translate}}</ion-col>   			-->
   		</ion-row>
      <ion-card *ngFor="let causa of mostrarCausas; let even = even"> 
        <ion-row *ngIf='causa.problema == problem.problema'>
          
          <div>
            <ion-card-header>
              <ion-col class="ion-text-center" size="12"><h3>{{causa.text|translate}}</h3></ion-col>
            </ion-card-header>
            <ion-card-content>
             
              <div *ngFor="let solucion of mostrarSoluciones">               
                <p *ngIf='solucion.causa == causa.causa'><ion-icon name="checkmark-circle"></ion-icon> {{solucion.text|translate}}</p>                
              </div>
         
            </ion-card-content>
          </div>

        </ion-row>
      </ion-card>
   	</ion-grid>
   </div>
</ion-content>


