 $card-ios-margin-left: 0;
 $card-ios-margin-right: 0;
 $card-md-margin-left: 0;
 $card-md-margin-right: 0;


.fab {
  width: 110px !important;
  height: 110px !important;
}


.card-img {
    display: block;
    margin-left: auto;
    margin-right: auto
 }

ion-card {
	background-color: #602414;
	margin-bottom: 5px !important;
 }

h6 {
	color: white;
  font-size: 10px;
}

ion-slides {
  --bullet-background-active: #602414;
  --bullet-background: #D25D12;
    background-color: transparent;
    border-radius: 15px;
}

.exitAlert{
    background-color: #ffffff;
    color: #602414;
    button{
      background-color: #602414;
      color: #ffffff;        
    }
}

