<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="light">TS&D</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="light" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-icon name="information-circle" color ="light" (click)="about()"  style="margin-right: 10px;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>	
	<!--<ion-searchbar placeholder="{{'TAB2_TITLE'|translate}}" [(ngModel)]="searchString"  (ionInput)="getCakes($event)" ></ion-searchbar>-->
	<ion-grid style="height: 40%">    
    <ion-row justify-content-center align-items-center style="height: 10%; margin-top: 25px;">
    
        <ion-button color="medium" (click)="togglePolietileno()">{{'POLIETILENO' | translate}}</ion-button>
        
    </ion-row>
    <ion-row justify-content-center align-items-center style="height: 10%; margin-top: 25px;">
     
        <ion-button color="medium" (click)="togglePolipropileno()">{{'POLIPROPILENO' | translate}}</ion-button>
    
    </ion-row>
  </ion-grid>
  <div *ngIf="polietileno" padding>
    <ion-grid>
    <div *ngFor="let proceso of currentPolietileno">
      <ion-button expand="block" color="light" (click)="openItem(proceso)">{{proceso.name | translate }}</ion-button>   
     
      </div>  
    </ion-grid>   
  </div>
  <div *ngIf="polipropileno" padding>
    <ion-grid>
    <div *ngFor="let proceso of currentPolipropileno">
      <ion-button expand="block" color="light" (click)="openItem(proceso)">{{proceso.name | translate }}</ion-button>        
      </div>  
    </ion-grid>
   
  </div>
</ion-content>
