<ion-header>
  <!--<ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>-->
</ion-header>

<ion-content class="bg-image ion-padding">
  <ion-img src="../assets/logo_w.png" class="img-logo animated bounce"></ion-img>
  <ion-button color="primary" expand="full" class="sand" routerLink="/dashboard">
        {{'LOGIN_ENTER'| translate }}
  </ion-button>  
</ion-content>
