.welcome-card ion-img {
	max-height: 30vh;
}

ion-toolbar {
--background: transparent;
--ion-color-base: transparent !important;
}

.bg-image {
	--background: url(../../assets/imgs/login_1.jpg);
	
    margin: auto;
}


.no-scroll .scroll-content {
	overflow: hidden;
}

.img-logo  {
	width: 70% !important;  
	height : 70% !important;
	align-items: center;
	margin: auto;
	display: block;  
}